.cw-df_duty-finder {
  width: 300px;
  max-width: 100%;
  height: auto;
  min-height: 100px;
  background-color: #313131;
  background-color: -webkit-linear-gradient(#626262, #313131, #313131, #313131, #313131, #313131, #313131);
  background-color: -o-linear-gradient(#626262, #313131, #313131, #313131, #313131, #313131, #313131, #313131);
  background-color: -moz-linear-gradient(#626262, #313131, #313131, #313131, #313131, #313131, #313131, #313131);
  background-color: linear-gradient(#626262, #313131, #313131, #313131, #313131, #313131, #313131, #313131);
}